<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zeoflow.flow.kit">

    <application>

        <provider
            android:name="com.zeoflow.initializer.ZeoFlowInitProvider"
            android:authorities="${applicationId}.ZeoflowInitializer"
            android:exported="false"
            android:initOrder="100" />

        <activity
            android:name="com.zeoflow.crash.reporter.ui.CrashReporterActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.balsikandar.android.task"
            android:theme="@style/CrashReporter.Theme" />

        <activity
            android:name="com.zeoflow.crash.reporter.ui.LogMessageActivity"
            android:parentActivityName="com.zeoflow.crash.reporter.ui.CrashReporterActivity"
            android:theme="@style/CrashReporter.Theme" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <service android:name="com.zeoflow.crash.reporter.service.NotificationService"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </service>

    </application>

</manifest>
